doctype html
html
  head
    title #MWC14 - Realtime Instagram photographies
    link(rel="stylesheet", href="/static/styles/reset.css", type="text/css")
    link(rel="stylesheet", href="/static/styles/master.css", type="text/css")

    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/static/scripts/jquery-1.5.min.js", type="text/javascript")
    script(src="/static/scripts/masonry.pkgd.min.js", type="text/javascript")
    script(src="/static/scripts/master.js", type="text/javascript")
    meta(name="viewport" content="width=device-width, user-scalable=no")
   
  body
    block content
